<launch>
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" />
    <param name = "port" value = "/dev/ttyACM0" /> 
  <node name="rqt_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/acceldata" />
        args="/gyrodata" />
  <node name="imu_check_3topics" pkg="imu_check" type="imu_check_3topics_node" output="screen" />
</launch>
